html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.red-blink {
    background-color: red !important;
    color: yellow !important;
    animation: blinker 1s linear infinite !important;
    font-weight: bold !important;
}

.yellow-bg {
    background-color: yellow !important;
    color: black !important;
    font-weight: bold !important;
}

.green-blink {
    background-color: lime !important;
    color: black !important;    
    font-weight: bold !important;
}

.silver-bg {
    background-color: silver !important;
    color: black !important;
    font-weight: bold !important;
}